
body {
  background: url('https://www.transparenttextures.com/patterns/dark-matter.png'),
    linear-gradient(135deg, #a8c0ff, #3f2b96);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Space Grotesk", sans-serif;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}